body {
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to right, #614385, #516395);
  font-family: 'Work Sans', sans-serif;
}

.container {
  margin: auto;
  padding: 1px 2rem;
  max-width: 500px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
}

.judul {
  background: linear-gradient(to right, #804385, #2e3b5d);
  background-clip: text; /* Properti standar */
  -webkit-background-clip: text; /* Untuk kompatibilitas dengan browser berbasis WebKit */
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  align-items: center;
}

.inputTodo {
  height: 2rem;
  width: 100%;
  font-family: 'Funnel Display', sans-serif !important;
  font-family: 25px;
}

.btn {
  height: 2.3rem;
  margin-left: 5px;
  cursor: pointer;
}

.list {
  padding: 0px;
}

.list li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  border: 1px solid rgb(50, 50, 50);
  margin-top: 1rem;
  padding: 0px 5px;
  background-color: rgb(242, 242, 242);
  font-size: 13px;
  font-family: 'Funnel Display', sans-serif !important;
}

.hapus {
  position: absolute;
  height: 2.3rem;
  right: 1px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.hapus:hover {
  background-color: #614385;
}

/* Desain color */

.containerColor {
  width: fit-content;
  margin: auto;
  margin-top: 7rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(181, 181, 179);
  justify-content: center;
}

.box {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: lighter;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
  background-image: linear-gradient(to right, #804385, #2e3b5d);
}

.box:hover {
  font-weight: bold;
}

/* Tablet (≥ 600px) */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 0rem 1rem;
    margin: 4rem 0rem;
  }
}

/* Laptop (≥ 768px) */
@media screen and (min-width: 601px) {
  body {
    font-size: 18px;
    padding: 30px;
    /* margin: 5rem 0rem; */
  }
}

/* Desktop (≥ 1024px) */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    padding: 40px;
  }
}

/* Large Screen (≥ 1440px) */
@media screen and (min-width: 1440px) {
  body {
    font-size: 22px;
    padding: 50px;
  }
}
